<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"></head>
<body>
    
    
        

    <form>
        <a href = "/planet1"><button style = "position:relative; left:520px; top:560px;" type="button" class="block" >Planet1</button></a>
        <a href = "/planet2"><button style = "position:relative; left:800px; top:250px;" type="button" class="block">Planet2</button></a>
        <a href = "/planet3"><button style = "position:relative; left:1400px; top:-100px;" type="button" class="block">Top Secret</button>
        
    </form>
</body>
</html>