<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> -->
    <style>
        body{
            background-image: url(static/empire.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            color: white;

            }
            h1{color:white;}
        
        
    </style>
</head>


<body>
    <h1>This Planet's specs are classified. Please fill out clearance form</h1>
    <a href = "/form"><button style = "position:relative; left:1400px; top:300px;" type="button" class="block">Clearance Form</button>
        
</body>